html {
   font-size:16px;
}
/*  resizes nav bar and all borders */
* {
    box-sizing: border-box;
}
/* login and sign up buttons */
ul.signup li
{

position:absolute;
top:30px;
right:120px;
background-color:#595959;	
	width: 100px;
	height: 25px;
		font-size:16px;
	line-height: 25px;
	text-align: center;
}
ul.login li
{
position:absolute;
top:30px;
right:20px;
background-color:#595959;	
	width: 100px;
	height: 25px;
		font-size:16px;
	line-height: 25px;
	text-align: center;
}
/* search bar */
table.search {
	position:absolute;
 left:400px;
 top:40px;
   color: black;
   font-family: Bitter, "Times New Roman", Times, serif;
   font-weight: 700;
   font-size: 1em;
   overflow:auto;

}
/* Header */
p.head{
	background-color:#00264d;
	color:white;
	text-align: center;
	margin: 0.4em 0.7em;
	padding: 2px 50px;
	font-size:1em;
}
/* Nav Bar */
ul {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}
ul li a{
	text-decoration: none;
	color: white;
	display: block;
}
ul li{
	float: left;
	width: 210px;
	height: 30px;
	background-color:  #00264d; 
	margin: auto;
		font-size:16px;
	line-height: 25px;
	text-align: center;
	opacity: .8;
	border: 2px solid black;
	
}
ul li a:hover{
	background-color: #4078a5;
	color: ivory;
}

ul li ul li {
	display: none;
}

ul li:hover ul li{

	display:block;
	
}

/* Body footer and article stuff goes below here */
body,h1,h2,h3,p {
   
   font-family: Bitter, "Times New Roman", Times, serif;
}
/* footer section */
footer {
   padding: 0.6em;
   background-color:rgb(81, 112, 160);
   color: ivory;
   text-align: center;
}
.accent {
   font-weight: bold;
}

/* Ending of file goes below here with the other stuffs Define how you want the page to look below */

/************************************** Below here is all responsive design and print screen stuff. *******************************/

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
	table.search {
		left:auto;
		right:0;
		top:300px;
	}
	ul.signup li
{
			left:45px;
		right:1px;
		top:400px;
}
		ul.login li
{
			left:0;
		right:150px;
		top:400px;
}

}
@media only screen and (max-width: 600px) {
    /* For tablets: */
		table.search {
		left:auto;
		right:0;
		top:300px;
	}
	ul.signup li
{
		left:45px;
		right:1px;
		top:400px;
}
		ul.login li
{
		left:0;
		right:150px;
		top:400px;
}
}
/*
#prod_navigation
{
   margin:             0 auto;
   width:              75%;
   background-color:   #000000;
}

/* Dropdown button 
.productbtn
{
   background-color:   #000000;
   color:              #ffffff;
   padding:            16px 32px;
   font-size:          16px;
   border:             none;
   cursor:             pointer;
}
/* Container for dropdown 
.dropdown
{
   position:           relative;
   display:            inline-block;
}
/* Dropdown content - hidden 
.dropdown-content
{
   display:            none;
   position:           absolute;
   background-color:   #f9f9f9;
   min-width:          160px;
   box-shadow:         0px 8px 16px 0px rgba(0,0,0,0.2);
   z-index:            1;
}
/* Links in dropdown 
.dropdown-content a
{
   color:              #000000;
   padding:            12px 16px;
   text-decoration:    none;
   display:            block;
}
/* Change color of links on hover 
.dropdown-content a:hover
{
   background-color:   #f1f1f1;
}
/*Show dropdown on hover 
.dropdown:hover .dropdown-content
{
   display:            block;
}
/*Change color of button during dropdown 
.dropdown:hover .productbtn
{
   background-color:   #f1f1f1;
   color:              #000000;
}
/*